.collection-card .stripe {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
}
.collection-card .stripe a p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.25rem;
}
.collection-card .stripe.light {
  background-color: rgba(255, 255, 255, 0.7);
}

.collection-card .stripe.light a p {
  color: #424242;
}
.collection-card .stripe.dark {
  background-color: rgba(0, 0, 0, 0.7);
}
.collection-card .stripe.dark a p {
  color: #eee;
}
