.App {
  text-align: center;
}

:root {
  --mainBlue: #2a2a72;
  --mainBg: #efefef;
}

body {
  background: var(--mainBg) !important;
}

main {
  margin-top: 70px;
  min-height: calc(100vh - 200px);
}

.btn-black {
  background: transparent !important;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: black !important;
  border-radius: 0;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid gray !important;
}

.btn-black:hover {
  background: darkslategrey;
  color: white;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: gray;

}